<%# locals: (f:, field_name: "password", autocomplete: "current-password", placeholder: "*****") -%>
<div data-controller="password-visibility" class="relative mt-2">
  <%= f.password_field field_name.to_sym, required: true,
                                  autocomplete: autocomplete,
                                  placeholder: placeholder,
                                  class: "input",
                                  data: { "password-visibility-target" => "input" } %>

  <button type="button" data-action="password-visibility#toggle" class="text-gray-500 absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer">
    <span data-password-visibility-target="icon"><%= render "icons/eye" %></span>
    <span data-password-visibility-target="icon" class="hidden"><%= render "icons/eye-slash" %></span>
  </button>
</div>
